html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif ;
    background-color: #ddd;
    line-height: 1.65;

}

/* latihan 1 */
.container-satu{
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.container-satu h2{
    text-align: center;
}

.kolom-utama{
flex: 3;
order: 2;
}

.sidebar-satu{
    flex: 1;
    order: 1;
}

.sidebar-dua{
    flex: 1;
    order: 3;
}

.container-dua{
    max-width: 800px;
    margin: 50px auto;
    
}

.layanan {
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.layanan.satu{
    background-color: rgb(108, 108, 248);
}
.layanan.dua{
    background-color: rgb(103, 236, 103);
}
.layanan.tiga{
    background-color: rgb(236, 135, 135);
}

/* latihan tiga */
.container-tiga{
    max-width: 800px;
    margin: 50px auto;
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.thumbnail{
    width: 50%;
}

.thumbnail img{
    width: 100%;
    height: 150px;
}

/* latihan 4 */
.container-empat{
    max-width: 800px;
    margin: 50px auto;    
}

.card{
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: #eee;
    overflow: hidden;
    margin: 20px;
    flex: 1;
}

.card .header{
    height: 150px;
    background-color: #666;
}

.card .content{
    text-align: center;
    padding-bottom: 20px;
}

/* latihan 5 */
.container-lima{
    height: 500px;
    width: 500px;
    margin: 50px auto;
    border: 5px solid black;
    display: flex;
    
}

.kotak{
    height: 100px;
    width: 100px;
    background-color: brown;
    color: white;
    text-align: center;
   display: flex;
   margin: auto;
}

.kotak span{
margin: auto;
}

/* responsive */
@media(min-width: 600px){
    .container-dua{
    display: flex;
    justify-content: space-between;
    }

    .layanan{
        width: 30%;
    }

    .thumbnail{
        width: 25%;
    }

    .container-empat{
        display: flex;
    }   

    .card{
        margin: 10px;
    }

    .card.besar {
        transform: scale(1.12);
    }

    .card:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
            0 6px 6px rgba(0, 0, 0, 0.23);
    }
    
    
}